body {
   font-family: 'Roboto', sans-serif;
   color: #333;
}

img {
   max-width: 100%;  /* to keep large image in a page frame */
   height: auto;
}

* {
   box-sizing: border-box;
   /* so that to not calcalate to be 100% wide */
}

a {
   color: $mainOrange;
}
