body {
   font-family: 'Roboto', sans-serif;
   color: #333;
}

img {
   max-width: 100%;  /* to keep large image in a page frame */
   height: auto;
}  

* {
   box-sizing: border-box;  /* so that don't have to calcalate the width for 100% */
}

a {
   color: $mainOrange;
}