.row {

   @mixin clearfix;

   &--gutters {
      margin-right: -4rem;  /* to expand 4rem wide */
   }

   &--gutters-large {
      margin-right: -6.25rem;
   }

   &--gutters > div {  /* select direct div */
      padding-right: 4rem;
   }

   &--gutters-large > div {
      padding-right: 6.25rem;
   }

   &__b-margin-until-medium {
      margin-bottom: .5rem;
   }

   @mixin atMedium {
   
      &__b-margin-until-medium {
         margin-bottom: 0;
      }
   
      &__medium-4 {
         float: left;
         width: 33.33%;
      }

      &__medium-4--larger {
         width: 37%;
      }

      &__medium-6 {
         float: left;
         width: 50%;
      }

      &__medium-8 {
         float: left;
         width: 66.66%;
      }

      &__medium-8--smaller {
         width: 63%;
      }
   }

}
