.wrapper {
   padding-left: 1.125rem;
   padding-right: 1.125rem;
   max-width: 77.25rem;
   margin-left: auto;
   margin-right: auto;
   overflow: hidden;   /* to hide the negative margin */

   &--medium {
      max-width: 976px; 
   }


   &--no-padding-until-medium {
      padding-left: 0;
      padding-right: 0;

      @mixin atMedium {
         padding-left: 1.125rem;
         padding-right: 1.125rem;
      }
   }

   &--no-padding-until-small {
      padding-left: 0;
      padding-right: 0;

      @mixin atSmall {
         padding-left: 1.125rem;
         padding-right: 1.125rem;
      }
   }

   .wrapper {
      padding-left: 0;
      padding-right: 0;
   }

   &--b-margin {
      margin-bottom: 1rem;

      @mixin atSmall {
         margin-bottom: 3.875rem;
      }
   }
}